<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<h3 style="text-align: center; color: #2F516D;">Hemos recibido el pago de la orden <%= @order.id %> <br ></h3>
<p>
El monto del pago fué de <%= @order.monto %>Bsf, <br >
el número de pago es <%= @order.numerodepago %>, hecho en el banco <%= @order.banco %>
<br ></p>
<div style="width:100%;text-align:center;">Mail generado automaticamente, para mantener el seguimiento en el proceso de compra.</div>