<h3>Hemos recibido tu orden de compra</h3>
<p>
Queremos hacerte saber que hemos recibido tu orden de compra
</p>
<table>
<tr><th colspan="2">Cantidad</th>
	<th>Descripcion</th></tr>
<%= render @order.line_items %>
</table>	
	