<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<h3 style="text-align: center;">Estimado <%= @order.nombre %> de <%= @order.empresa %><br >
	El estatus de su compra ha cambiado</h3>
<p>
Queremos hacerte saber que estamos procesando su pedido numéro <%= @order.id %>
<br ></p>
<p>
A continuación la resumimos:
<br ></p>
<div style="width:100%;text-align:center;">Para más información contactanos en horario de oficina a los teléfonos<br >(0212) 633.23.18 - 632.08.80 - Fax: (0212) 632.31.65</div>

	