<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<h3 style="text-align: center; color: #2F516D;">Estimado <%= @order.nombre %> de  <%= @order.empresa %><br >
	El estatus de su compra ha cambiado a : <%= @order.status %></h3>
<p>
Queremos hacerle saber que continuamos procesando su pedido
<br ></p>
<div style="width:100%;text-align:center;">Para más información contactanos en horario de oficina a los teléfonos<br >(0212) 633.23.18 - 632.08.80 - Fax: (0212) 632.31.65</div>

	