<style type="text/css">
div.lista { float:left; padding-left:35px;padding-top: 10px;text-align:center;width: 100px }
.clearBoth { clear:both; }
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {background-color:#FF704D;}
a:active {background-color:#FF704D;}
</style>
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1>Productos marca <%= @marca.capitalize %> Miscelaneus</h1> 
	<% @k = 0 %>
	<% @productoMis.each do |producto| %>
		<div class="lista">
	<%= link_to "#{producto.nombres}", tienda_vista_path(:marca => "#{@marca}", :nombre => "#{producto.nombres.downcase}") %>
		</div>
		<% @k+=1 %>
		<% if @k == 3 %>
		<br class="clearBoth" />
		<% @k = 0 %>
		<% end %>
<% end %>
	