<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1>Productos <%= @marca.capitalize %></h1> 
	<% @productos2.each do |producto| %>
		<div class="lista">
	<%= link_to "#{producto.nombres}", tienda_vista_path(:marca => "#{@marca}", :nombre => "#{producto.nombres.downcase}") %>
		</div>
<% end %>
	