<style type="text/css">
div.lista { float:left; padding-left:25px;padding-top: 12px;text-align:center;width: 100px;font-size: 90%;}
.clearBoth { clear:both; }
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {background-color:#6ca0bb;}
a:active {background-color:#6ca0bb;}
</style>
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1>Productos <%= @marca.capitalize %></h1> 
	<% @k = 0 %>
	<% @productos2.each do |producto| %>
		<div class="lista">
	<%= link_to "#{producto.nombres.downcase.capitalize}", tienda_pagina2_path(:marca => "#{@marca}", :nombre => "#{producto.nombres}") %>
		</div>
	<% @k+=1 %>
	<% if @k == 4 %>
		<br class="clearBoth" />
	<% @k = 0 %>
	<% end %>
<% end %>
	