<label class="label"><%= t("activerecord.attributes.user.email", :default => t("activerecord.labels.email", :default => "Email")) %>:</label>
<p><%= @user.email %></p>
<div class="form-actions">
<%= link_to "Atras", admin_users_path, :class => 'btn'  %>
</div>