<div class="contactar" id="contactar">
<h1>Contacto</h1>
<%= render 'layouts/googlemaps' %>
<div id = "bannerDireccion">
  <h3>Dirección: </h3>
  <p>Av. Capitán de Navío Felipe Estévez. <br>Nº 34, La Pica, Prado de María, Caracas - Venezuela.</p>
  <h3>Telefonos:</h3> 
  <p>(0212) 633.23.18 - 632.08.80 - Fax: (0212) 632.31.65</p>
  <h3>Email:</h3>
  <p>ventas@copelancitadevenezuela.com<br>
    copelancitadevenezuela@cantv.net<br>
    copelancitadevenezuela@gmail.com</p>
</div>
</div>