<div id="empresa" class="empresa" ><%= image_tag("logo/Personal-2.jpg",  :class => 'Personal') %>
<h3>Nuestra Empresa</h3>
<p>Somos una empresa dedicada a la remanufactura de compresores semihermeticos marca Copeland, Carrier, Trane, York y Bitzer, entre otros, de todas las capacidades. Manteniendo los valores de tolerancia y calidad del fabricante.</br> </br>

Contamos con una grupo de técnicos altamente calificado y de amplia experiencia en el área, equipos y un amplio stock, repuestos nacionales e importados, brindándole a nuestros clientes una respuesta inmediata a sus necesidades.</br></br>

Nuestro concepto de calidad y servicio es un compromiso de atención post remanufactura, con asesoría y asistencia técnica completa, lo que nos convierte en una empresa líder en el área de la remanufactura.
</p>
<h3>Misión y Visión</h3>
<p>Nuestra visión es Convertirnos en la Empresa Lider en el mercado de productos y servicios de refrigeración y aire acondicionado.</br> </br>
Nuestra misión es atender las necesidades del mercado, proporcionando a sus clientes servicios y productos de alta calidad, a sus accionistas una creciente rentabilidad, para Copelancita sus empleados son su principal capital, es por ello que le ofrecemos crecimiento profesional y estabilidad laboral.</p>
</div>
