<div class="video">
<h1>Aquí video youtube para comprar</h1>
<p>Video de muestra, para hacer pedidos de manera rápida y efectiva en nuestro sitio</p>
<div class = "video"><iframe width="500" height="325" src="//www.youtube.com/embed/Tbl6durkV2E" frameborder="0" allowfullscreen></iframe></div>
</div>