<div class="video">
<h1>Aquí video youtube para comprar</h1>
<p>Video de muestra, para hacer pedidos de manera rápida y efectiva en nuestro sitio</p>
<div class = "video"><iframe width="500" height="325" src="//www.youtube.com/embed/Tbl6durkV2E" frameborder="0" allowfullscreen></iframe></div>
</br></br></br></br>
<div>
	<p> 1.- Busque su  artículo según la marca y modelo de su  equipo.</p>
	<p> 2.- Incluya el artículo seleccionado en su carrito.</p>
	<p> 3.- Una vez concluida su selección pulse el botón “continuar con la compra”.</p>
	<p> 4.- Complete los datos de tipo de pago y la dirección de la oficina MRW donde recibirá el pedido (el costo del envío correrá por cuenta del cliente), quedando pendiente indicar la información referente al deposito o transferencia.</p>
	<p> 5.- El pago usted lo realizara por el total indicado, incluyendo IVA, en las cuentas bancarias que se indican a continuación:</p>
	<p> Banesco cuenta corriente número: </p>
	<p> Venezuela cuenta corriente número: </p>
	<p> 6.- Una vez realizado el pago ingrese a la página WEB de Copelancita de Venezuela para incluir la información  relacionada al mismo,  pulse el botón “Mis compras” , ubique su orden de compra y coloque los datos solicitados.</p>
	</br></br>
	<p>
	En todo momento se le informara a través de su correo electrónico el 	estado de su orden de compra.
	</p>
	</br>
	<p>En caso que pasada 24 horas no realice el pago relacionado a su orden de compra, esta será anulada de manera automática.</p>
</div>
</div>