/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/



#banner {
  background: #bfcada;
  padding: 5px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #115588;
  text-align: center;
  height:60px;
  img {
    float: left;
  }
}

#body  {
    background: linear-gradient(#0a2544 , white) no-repeat;
    background-size: 21000% auto, 21000% auto;
}



#bannerDireccion:hover{
} 
#banner_2{
  position:relative;
  display:inline;
  float: left;
}

#banner_2 .logo {
  margin-top: 5px;
  margin-left: 75px;
  width:500px;
}
#bannerDireccion{
float: left;
width: 500px;
font-size:10px;
font-weight: bold;
margin-top:5px;
margin-left:20px;
text-align: center;
} 
#banner_2 .compresor1 {
  margin-top: 5px;
  margin-left: 35px;
  width:100px;
  border-radius: 70px;
 -webkit-border-radius: 50px;
 -moz-border-radius: 50px;
}
#banner_2 .compresor1:hover{
  margin-top: 5px;
  margin-left: 35px;
  width:100px;
  border-radius: 70px;
 -webkit-border-radius: 50px;
 -moz-border-radius: 50px;
 -webkit-filter: brightness(180%);
 
}


#contenido{
  width:87%;
  min-width:1100px;
  position:absolute;
  left: 0;
  right: 0;
  margin: auto;
  background: white;
  }
#notice {
  border: 2px solid #ff6666;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #ffe5e5;
  font: bold smaller sans-serif;
}
#side_1{
  position:relative;
    float: left;
    padding: 0;
    width: 15%;
    background: white;
    z-index: 1;
    margin-right:1px;
}
 #main {
 position:relative;
 max-width: 620px;
 min-height: 650px;
 float: left;
 width: 55%;
 margin-right: 0px;
 margin-left: 3px;
 background: white;
  z-index: 0;
 }
  #side {
    position:relative;
    float: left;
    min-width: 26%;
    width:27%;
    padding: 0;
    background: white;
  }
#linkMenu{
  border: solid 1px #00355b; 
  text-align:center;
  background: linear-gradient(to right,#00355b , white) no-repeat;
  color: white;
}
#linkMenu2{
  border: solid 1px #00355b; 
  width: 145px; 
  height: 19px; 
  text-align:left;
  background: linear-gradient(to right,#00355b , white) no-repeat;
  padding-left: 45px;
  font-size:75%;
}

.ui-menu {
  list-style: none;
  padding: 2px;
  margin: 0;
  display: block;
  outline: none;
}
.ui-menu .ui-menu {
  margin-top: -3px;
  position: absolute;
}
.ui-menu .ui-menu-item {
  margin: 0;
  padding: 0;
  /* support: IE10, see #8844 */
  background: white; 
  width: 100%;
}
.ui-menu .ui-menu-divider {
  margin: 5px -2px 5px -2px;
  height: 10px;
  font-size: 0;
  line-height: 0;
  border-width: 1px 0 0 0;
  width: 100%;
}
.ui-menu .ui-menu-item a{
  text-decoration: none;
  color: white;
  display: block;
  padding: 2px .4em;
  line-height: 1.5;
  min-height: 0; /* support: IE7 */
  font-weight: bold;
  font-style: italic;
  font-family: sans-serif;
}
.ui-menu .ui-menu-item a:hover{
  background: linear-gradient(to right,#00355b , white) no-repeat;
  }
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
  font-weight: normal;
  margin: -1px;
}

.ui-menu .ui-state-disabled {
  font-weight: normal;
  margin: .4em 0 .2em;
  line-height: 1.5;
}
.ui-menu .ui-state-disabled a {
  cursor: white;
}

/* icon support */
.ui-menu-icons {
  position: relative;
}
.ui-menu-icons .ui-menu-item a {
  position: relative;
  padding-left: 2em;
}

/* left-aligned */
.ui-menu .ui-icon {
  position: absolute;
  top: .2em;
  left: .2em;
}

/* right-aligned */
.ui-menu .ui-menu-icon {
  position: static;
  float: right;
}

#logoImg {
  position:relative;
  display:inline;
  float: left;
  width: 5%;
  height: 50px;
  margin-left: 100px;
  margin-top:15px;
  margin-bottom:5px;
}
#logoImg img{
  height: 50px; 
  margin-top:15px;
}
#navegacion {
  position:relative;
  display:inline;
  float: left;
  width:85%;
  height: 50px;
  margin-bottom:5px;
  margin-top:15px;
}

#navegacion ul li{
  display:inline;
}
#navegacion ul li a{
font-family:Arial;
font-size:17px;
text-decoration: none;
padding:10px;
background-color: #333333;
color:#ffffff;
border-bottom:1px;
border-bottom-color:#000000;
border-bottom-style:solid;
}
#navegacion ul li a:hover{
background-color:#9B1C26;
padding-bottom:12px;
border-bottom:2px;
border-bottom-color:#000000;
border-bottom-style:solid;
margin:-1px;
}

#footer {
clear: both;
position: relative;
z-index: 10;
height: 200px;
z-index: 0;
}
#footer img{
  display: block;
  margin-left: auto;
  margin-right: auto 
}

#copyright {
  position:relative;
  float: left;
  width:35%;
  margin-left:50px;
  margin-top:10px;
  display:inline;
  font-family: "Century Gothic", sans-serif;
  font-size: 10px;
  font-weight: bold;
  font-variant: normal;
  text-transform: uppercase;
  color: #0D4F8B;
  text-align: center !important;
  margin-top: 10px;
  letter-spacing: 0.1em;
}
#eventos {
  position:relative;
  float: right;
  width:30%;
  font-size:100%;
  margin-right:25px;
  margin-left:15px;
  margin-top:1px;
  font-family: "Century Gothic", sans-serif;
  text-align: center;
  display:inline;
}
#eventos a{
text-decoration: none;
}
#eventos a:hover{
background-color:#c9cfd3;
text-decoration: none;
}

#imgeventos {
  position:relative;
  float: right;
}
#imgeventos img{
  width:150px;
}
#links{
  width:40%;
  position:relative;
  float: left;
  margin-left: 450px; 
}
#links ul li{
  display:inline;
}
#links ul li a{
font-size:90%;
text-decoration: none;
font-size: 17px;
margin-top:10px;
color:#063859;
}
#links ul li a:hover{
background-color:#c9cfd3;
margin:-1px;
}

#imgCompresores{
width: 100%;
text-align: center;
}

#imgCompresores img{
margin-top: 30px;
width:125px;
height: 115px;
z-index: 1;
}

.servicio2 img{
  width: 100%;
}

.servicio2 h2{
  font-size: 20px;
  font-family: ‘Arial Black’, Gadget, sans-serif;
  color: white;
  text-align:center;
  background:#0a2544;
  height:30px;
  line-height:130%;
  text-align: center;
}
.servicio2 h4{
  font-size: 15px;
  font-family: ‘Arial Black’, Gadget, sans-serif;
  color: white;
  text-align:center;
  background:#0a2544;
  height:20px;
  line-height:120%;
  text-align: center;
}
#map_canvas{
margin-top: 7px;
width: 100%;
height: 270px;
}