// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.carts,#side #cart {
  h2, .cart_title {
  font-size: 25px;
  font-family: ‘Arial Black’, Gadget, sans-serif;
  color: white;
  text-align:center;
  background:#2F516D;
  height:30px;
  line-height:120%;
  }
  
  .item_price, .total_line {
    font-size:10px;
    text-align: right;
  }

   .item_nombre {
    width:180px;
    font-size:10px;
    text-align: center;
  }
  .item_quantity {
    font-size:13px;
    font-family:cursive;
    font-weight:bold;
    text-align: center;
  }

  .total_line .total_cell {
    width:90px;
    font-size:11px;
    font-weight: bold;
    border-top: 1px solid #0D4F8B;
  }

  input.button1 {
      width:98%;
      border:0;
      margin-top:20px;
      color:white;
      background:#333333;
      height:25px;
      text-font:60%;
      display:inline;
    }
    input.button1:hover {
    background:#e59400;
    }
  input.button2 {
      width:98%;
      border:0;
      margin-top:5px;
      color:white;
      background:#708090;
      height:25px;
      text-font:60%;
      display:inline;
    }
    input.button2:hover {
    background:#b2b2b2;
    }
    
    input.buttonMas {
      border:0;
      color:black;
      background:#66b266;
      height:25px;
      text-font:60%;
      display:inline;
    }
    input.buttonMas:hover {
      background:#518e51;
    }
    input.buttonMas1 {
      border:0;
      color:black;
      background:#99cc99;
      height:25px;
      text-font:60%;
      display:inline;
    }
    input.buttonMas1:hover {
      background:#66b266;
    }
    input.buttonMenos {
      border:0;
      color:black;
      background:#beddef;
      height:25px;
      text-font:60%;
      display:inline;
    }
    input.buttonMenos:hover {
      background:#9dcde7;
    }
}