// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.orders{
	h2 {font-size: 20px;
 	font-family: ‘Arial Black’, Gadget, sans-serif;
  	color: white;
  	background:#2F516D;
  	height:30px;
  	line-height:130%;
	margin-top: 25px;
	text-align:center;}
	h3 {font-size: 15px;
 	font-family: ‘Arial Black’, Gadget, sans-serif;
  	color: white;
  	background:#2F516D;
  	height:20px;
  	line-height:130%;
	margin-top: 15px;}
 
 .tableOrder{
    th {
    color: white;
    background:#2c4762;
    text-align:center;
    }
    td.quantity{
    font-weight:bold;
    }
    td{
    text-align:center;
    }
    td.price{
    width:200px;
    }
  }
  .resumen {
  width: 100%;
    .CellsToExpand{
    text-align:center;
    width:150px;
    }
  }
}