// Place all the styles related to the Tienda controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tienda {
  h1 {
    margin-top: 20px;
    padding-bottom: 0.5em;
    font-size: 35px;
    font-family: ‘Arial Black’, Gadget, sans-serif;
    color: #0a2544;
    border-bottom: 3px solid #0a2544;
  }


  .entry {
    position:relative;
    width: 235px;
    min-height: 220px;
    height: 205px;
    float:left;
    display:block;
    marging-left:25px;
    
    a{
    color:#44a;
    text-decoration: none;
    }
    
    a:hover{
    color:white;
    background: #708090 ;
    }

   img.catalogo {
      width: 80px;
      margin-right: 10px;
      margin-left: 20px;
      margin-bottom: 5px;
      position: absolute;
      z-index:-1;
    }
     div.price {
      width:75px;
      float:left;
      color: #44a;
      margin-right: 3em;
      margin-left: 30px;
    }
    div.codigo{
    position:absolute;
    bottom: 17px;
    color: #44a;
    font-weight:bold;
    left: 35%;
    }
    h3 {
      font-size: 100%;
      font-family: sans-serif;
      margin-right: 10px;
      margin-left: 12px;
      margin-top: 0;
      margin-bottom: 2px;
      color: #227;
    }

    h4 {
      font-size:80%;
      font-family: sans-serif;
      margin-left: 125px;
      margin-top: 0;
      margin-bottom: 2px;
      color: #227;
    }

    p, div.price_line {
      font-size:82%;
      margin-left: 100px;
      margin-top: 0.5em; 
      margin-bottom: 0.8em; 
    }

    input.button {
      border:0;
      margin-top:20px;
      color:white;
      background:#0D4F8B;
      height:25px;
      text-font:60%;
      display:inline;
    }
    input.button:hover {
      background:#e59400;
    }

    img.carro {
      width: 20px;
      height: 20px;
    }
  }
}
