// Place all the styles related to the Vista controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vista{
.empresa {
	.Personal{
	width:95%;
	margin-top:10px;
	margin-right:10px;
	margin-left:10px;
	}
	p{
	font-family: verdana, sans-serif;
 	font-size: 12px;
	text-align: justify;
	margin-right:10px;
	margin-left:10px;
	}
	h3{
	padding-left:35px;
	color:#2F516D;
	font-style:italic;
	}
	div.slideShow{
	width:100%;
	margin-top:30px;
	border-style:double;
	border-width:5px;
	border-color:#495a64;
	border-radius:5px;
	content:url(/assets/SlideShow/EnsambladosCopeland.jpg);
	}
}

.inicio { 
	.barraBusqueda{
	width:100%;
	height:125px;
	background: linear-gradient(#2F516D , white) no-repeat;
	font-family: ‘Arial Black’, Gadget, sans-serif;
  	color: #0a2544;
  	font-style:italic;
	}
	h4{
	padding-top:15px;
	font-size: 20px;
    font-family: ‘Arial Black’, Gadget, sans-serif;
    font-style:italic;
    padding-left:10px;
	}
	p{
	font-size: 12px;
	padding-left:10px;
	}
	div.slideShow{
	width:100%;
	margin-top:25px;
	border-style:double;
	border-width:5px;
	border-color:#495a64;
	border-radius:5px;
	content:url(/assets/SlideShow/EnsambladosCopeland.jpg);
	}
}

	h1{
	margin-top: 20px;
    padding-bottom: 0.5em;
    font-size: 27px;
    font-family: ‘Arial Black’, Gadget, sans-serif;
    color: #0a2544;
    border-bottom: 3px solid #0a2544;
	}

.servicio {
	h3{
	background: linear-gradient(to right,#2F516D , white) no-repeat;
    background-size: 100% auto, 95% auto;
    color:white;
    padding-left:35px;
    font-style:italic;
 	border-right-style:solid;
	border-right-width:3px;
	border-right-color:#2F516D;
	border-bottom-style:solid;
	border-bottom-width:3px;
	border-bottom-color:#2F516D;
	}
	h3:hover{
    cursor: pointer;
	}
	img{
  	display: block;
    margin-left: auto;
    margin-right: auto 
	}
	p{
	text-align:justify;	
	text-justify:auto;
	margin-left:45px;
	margin-right:25px;
	}

	button{
	border:0;
	width:150px;
	higth:40px;
	margin-left:350px;
	color:white;
    background:#0D4F8B;
	}
	button:hover{
	cursor: pointer;
	}
	h4{
	padding-left:35px;
	color:#0D4F8B;
	font-style:italic;
	}

}
.contactar {
		h3{
		background: linear-gradient(to right,#2F516D , white) no-repeat;
	    background-size: 100% auto, 95% auto;
	    color:white;
	    padding-left:35px;
	    font-style:Arial;
	 	border-right-style:solid;
		border-right-width:3px;
		border-right-color:#0a2544;
		border-bottom-style:solid;
		border-bottom-width:3px;
		border-bottom-color:#0a2544;
		}
		p{
		font-family: Arial;
	 	font-size: 12px;
		}
	}
.status{
.tableOrder{
	width:100%;
	th {
	color: white;
	background:#bfc7cf;
	}
	td.iva{
	background:#bfc7cf;
	color:white;
	font-weight:bold;
	}
	td.total{
	background:#2c4762;
	color:white;
	font-weight:bold;
	}
	}
  .top{
  margin-top: 50px;
  border-top-style: solid;
  border-color: #2c4762;
  }
  h2{
	font-size: 20px;
	font-family: Arial;
	color: white;
	text-align:center;
	background:#2F516D;
	height:30px;
	line-height:130%;
	text-align: center;
	}
	h3 {
	text-align:center;
	}
	td{
	text-align: center;
	}	  
}
.video{
	.video{
	padding-top:25px;
	padding-left:95px;
	}
}
}
