// Place all the styles related to the Vista controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.empresa {
	.Personal{
	width:95%;
	margin-top:10px;
	margin-right:10px;
	margin-left:10px;
	}
	p{
	font-family: verdana, sans-serif;
 	font-size: 12px;
	text-align: justify;
	margin-right:10px;
	margin-left:10px;
	}
	h3{
	color:#333333;
	margin-left:10px;
	}
	div.slideShow{
	width:100%;
	margin-top:30px;
	border-style:double;
	border-width:5px;
	border-color:#495a64;
	border-radius:5px;
	content:url(/assets/SlideShow/EnsambladosCopeland.jpg);
	}
}

.inicio { 
	.barraBusqueda{
	width:100%;
	height:125px;
	background: linear-gradient(#8492a1 , white) no-repeat;
	font-family: ‘Arial Black’, Gadget, sans-serif;
  	color: #0a2544;
  	font-style:italic;
	}
	h4{
	padding-top:15px;
	font-size: 20px;
    font-family: ‘Arial Black’, Gadget, sans-serif;
    font-style:italic;
    padding-left:10px;
	}
	p{
	font-size: 12px;
	padding-left:10px;
	}
	img{
	width:100%;
	position:relative;
	padding-top:20px;
	}
}

.servicio {
$dimension: 152px;
$marginrigth:15px;
$marginleft:40px;
$margintop:15px;
$opcty1:140%;	
$opcty:250%;	
	h1{
	margin-top: 20px;
    padding-bottom: 0.5em;
    font-size: 27px;
    font-family: ‘Arial Black’, Gadget, sans-serif;
    color: #0a2544;
    border-bottom: 3px solid #0a2544;
	}

	.background-image {
	position: absolute;
	width:100%;
  	height:100%;
 	background: url(/assets/COMPRESORES/background_8.jpg) center center no-repeat;
 	background-size: cover;
 	z-index:-1;
 	-webkit-filter: brightness($opcty1);
  	-moz-filter: brightness($opcty1);
  	-o-filter: brightness($opcty1);
  	-ms-filter: brightness($opcty1);
  	filter: brightness($opcty1);
 	}
 	

	.imagenesProceso img.imgProc1{
	position:relative;
	border-style:solid;
	border-width:10px;
	border-color:#495a64;
	border-radius:5px;
	margin-top:10px;
	float:right;
	margin-right:$marginrigth;
	width:$dimension;
	z-index:2;
	}

	.imagenesProceso img.imgProc2{
	position:relative;
	border-style:solid;
	border-width:10px;
	border-color:#495a64;
	border-radius:5px;
	margin-top:20px;
	float:left;
	margin-left:$marginleft*(1/8);
	width:$dimension*(1+1/8);
	z-index:2;
	}
	.imagenesProceso img.imgProc3{
	position:relative;
	border-style:solid;
	border-width:10px;
	border-color:#495a64;
	border-radius:5px;
	margin-top:10px;
	float:right;
	margin-right:$marginrigth;
	width:$dimension;
	z-index:2;
	}
	.imagenesProceso img.imgProc4{
	position:relative;
	border-style:solid;
	border-width:7px;
	border-color:#495a64;
	border-radius:5px;
	width:(2)*$dimension;
	height:(1+1/4)*$dimension;
	float:left;
	margin-left:$marginleft/6;
     margin-top:10px;
    margin-bottom:10px;
    z-index:2;
	}
	.imagenesProceso img.imgProc5{
	position:relative;
	border-style:solid;
	border-width:10px;
	border-color:#495a64;
	border-radius:5px;
	float:right;
	margin-right:$marginrigth*(3/4);
	margin-bottom:10px;
	width:$dimension*(5/4);
	height:$dimension*(5/4);
	z-index:2;
	}
	.imagenesProceso img.imgProc6{
	position:relative;
	border-style:solid;
	border-width:5px;
	border-color:#495a64;
	border-radius:5px;
	float:left;
	margin-left:$marginleft*(1/4);
	margin-top:$margintop;
	width:$dimension*(4/5);
	height:$dimension*(3/4);
	z-index:2;
	}
	.imagenesProceso img.imgProc7{
	position:relative;
	border-style:solid;
	border-width:5px;
	border-color:#495a64;
	border-radius:5px;
	float:left;
	margin-left:$marginleft*(1/4);
	margin-top:$margintop;
	width:$dimension*(4/5);
	height:$dimension*(3/4);
	z-index:2;
	}
	.imagenesProceso img.imgProc8{
	position:relative;
	border-style:solid;
	border-width:10px;
	border-color:#495a64;
	border-radius:5px;
	margin-left:$marginleft*1/2;
	margin-top:$margintop*(2);
	width:$dimension*(2/3);
	height:$dimension*(2/3);
	z-index:2;
	}
	.imagenesProceso img.imgProc1:hover{
	position:relative;
	border-style:solid;
	border-width:10px;
	border-color:#495a64;
	border-radius:5px;
	margin-top:10px;
	float:right;
	margin-right:$marginrigth;
	width:$dimension;
	z-index:2;
	-webkit-filter: brightness($opcty);
  	-moz-filter: brightness($opcty);
  	-o-filter: brightness($opcty);
  	-ms-filter: brightness($opcty);
  	filter: brightness($opcty)
	}
	.imagenesProceso img.imgProc2:hover{
	position:relative;
	border-style:solid;
	border-width:10px;
	border-color:#495a64;
	border-radius:5px;
	margin-top:20px;
	float:left;
	margin-left:$marginleft*(1/8);
	width:$dimension*(1+1/8);
	z-index:2;
	-webkit-filter: brightness($opcty);
  	-moz-filter: brightness($opcty);
  	-o-filter: brightness($opcty);
  	-ms-filter: brightness($opcty);
  	filter: brightness($opcty);
	}
	.imagenesProceso img.imgProc3:hover{
	margin-top:10px;
	float:right;
	margin-right:$marginrigth;
	width:$dimension;
	z-index:2;
	-webkit-filter: brightness($opcty);
  	-moz-filter: brightness($opcty);
  	-o-filter: brightness($opcty);
  	-ms-filter: brightness($opcty);
  	filter: brightness($opcty);
	}
	.imagenesProceso img.imgProc4:hover{
	position:relative;
	border-style:solid;
	border-width:7px;
	border-color:#495a64;
	border-radius:5px;
	width:(2)*$dimension;
	height:(1+1/4)*$dimension;
	float:left;
	margin-left:$marginleft/6;
     margin-top:10px;
    margin-bottom:10px;
    z-index:2;
    -webkit-filter: brightness($opcty);
  	-moz-filter: brightness($opcty);
  	-o-filter: brightness($opcty);
  	-ms-filter: brightness($opcty);
  	filter: brightness($opcty);
	}

	.imagenesProceso img.imgProc5:hover{
	position:relative;
	border-style:solid;
	border-width:10px;
	border-color:#495a64;
	border-radius:5px;
	float:right;
	margin-right:$marginrigth*(3/4);
	margin-bottom:10px;
	width:$dimension*(5/4);
	height:$dimension*(5/4);
	z-index:2;
	-webkit-filter: brightness($opcty);
  	-moz-filter: brightness($opcty);
  	-o-filter: brightness($opcty);
  	-ms-filter: brightness($opcty);
  	filter: brightness($opcty);
	}

	.imagenesProceso img.imgProc6:hover{
	position:relative;
	border-style:solid;
	border-width:5px;
	border-color:#495a64;
	border-radius:5px;
	float:left;
	margin-left:$marginleft*(1/4);
	margin-top:$margintop;
	width:$dimension*(4/5);
	height:$dimension*(3/4);
	z-index:2;
	-webkit-filter: brightness($opcty);
  	-moz-filter: brightness($opcty);
  	-o-filter: brightness($opcty);
  	-ms-filter: brightness($opcty);
  	filter: brightness($opcty);
	}
	.imagenesProceso img.imgProc7:hover{
	position:relative;
	border-style:solid;
	border-width:5px;
	border-color:#495a64;
	border-radius:5px;
	float:left;
	margin-left:$marginleft*(1/4);
	margin-top:$margintop;
	width:$dimension*(4/5);
	height:$dimension*(3/4);
	z-index:2;
	-webkit-filter: brightness($opcty);
  	-moz-filter: brightness($opcty);
  	-o-filter: brightness($opcty);
  	-ms-filter: brightness($opcty);
  	filter: brightness($opcty);
	}

	.imagenesProceso img.imgProc8:hover{
	position:relative;
	border-style:solid;
	border-width:10px;
	border-color:#495a64;
	border-radius:5px;
	margin-left:$marginleft*1/2;
	margin-top:$margintop*(2);
	width:$dimension*(2/3);
	height:$dimension*(2/3);
	z-index:2;
	-webkit-filter: brightness($opcty);
  	-moz-filter: brightness($opcty);
  	-o-filter: brightness($opcty);
  	-ms-filter: brightness($opcty);
  	filter: brightness($opcty);
	}
}