<p>Hola <%= @resource.email %>!</p>

<p>Has solicitado cambiar tu contre単a de tu cuenta en Copelancita de Venezuela. Esto lo puedes hacer por medio del link abajo.</p>

<p><%= link_to 'Cambiar mi contrase単a', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si tu no solicitaste esto porfavor ignora este email.</p>
<p>Tu contrase単a no sera actualizada hasta que entres en el siguiente link y crees un nueva contrase単a.</p>
