<p>Hola <%= @resource.email %>!</p>

<p>Haa solicitado cambiar la contreña de su cuenta en Copelancita de Venezuela. Esto lo puede hacer por medio del link abajo.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si usted no solicitó esto, ignoré este email.</p>
<p>Tu contraseña no sera actualizada hasta que entres en el siguiente link y crees un nueva contraseña.</p>
