 <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
 <script>
      function initialize() {
        var map_canvas = document.getElementById('map_canvas');
        var map_options = {
          center: new google.maps.LatLng(10.480918,-66.911143),
          zoom: 18,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(map_canvas, map_options)
      }
      $(document).ready(function() { initialize(); });
      
    </script>
<div id = "map_canvas"></div>