<ul id="menu">  
		<% if @productos1 %>
			<% @productos1.each do |producto| %>
			  <li style="border: solid 1px #808080; text-align:center;">
			   <%= link_to "#{producto.marca}", tienda_pagina_path(:marca => "#{producto.marca.downcase}") %>
			  	<ul><% if "#{producto.marca}" == 'Copeland' %>
			  		<% @Busqueda = @productoCop %>
			  		<% elsif "#{producto.marca}" == 'Carrier' %>
			  		<% @Busqueda = @productoCarr %>
			  		<% elsif "#{producto.marca}" == 'Trane' %>
			  		<% @Busqueda = @productoTran %>
			  		<% else %>
			  		<% @Busqueda = @productoYork %>
			  		<% end %>
			  		<% @Busqueda.each do |producto1| %>
			  		<li style="border: solid 1px #808080; width: 200px; height: 19px; text-align:center;font-size:75%;">
			  		<%= link_to "#{producto1.nombres.split(" ").first.downcase.capitalize}", tienda_pagina2_path(:marca => "#{producto.marca.downcase}", :nombre => "#{producto1.nombres}") %>
			  		</li>
			  		<% end %>
			  		<li style="border: solid 1px #808080; width: 200px; height: 19px; text-align:center;font-size:75%;"><%= link_to "Miscelaneus", tienda_miscelaneus_path(:marca => "#{producto.marca.downcase}") %></li>
			  	</ul>
			  </li>	
			<% end %> 
		<% end %>        
</ul>