<ul id="menu">  
		<% if @productos1 %>
			<% @productos1.each do |producto| %>
			  <li style="border: solid 1px #808080; text-align:center;">
			   <%= producto.marca, tienda_pagina_path(:marca => "#{producto.marca.downcase}") %>
			  	<ul><% if "#{producto.marca}" == 'Copeland' %>
			  		<% @Busqueda = @productoCop %>
			  		<% elsif "#{producto.marca}" == 'Carrier' %>
			  		<% @Busqueda = @productoCarr %>
			  		<% elsif "#{producto.marca}" == 'Trane' %>
			  		<% @Busqueda = @productoTran %>
			  		<% else %>
			  		<% @Busqueda = @productoYork %>
			  		<% end %>
			  		<% @Busqueda.each do |producto1| %>
			  		<li style="border: solid 1px #808080; width: 200px; height: 19px; text-align:center;font-size:75%;">
			  			<%= link_to "#{producto1.nombres.split(" ").first.downcase.capitalize}", tienda_vista_path(:marca => "#{producto.marca.downcase}", :nombre => "#{producto1.nombres.downcase}") %>
			  		</li>
			  	<% end %>
			  	<li style="border: solid 1px #808080; width: 200px; height: 19px; text-align:center;font-size:75%;"><%= Miscelaneus, tienda_miscelaneus_path(:marca => "#{producto.marca.downcase}") %>
						<ul>
						<% @productoMis = Producto.find_by_sql("select split_part(nombre,' ', 1) AS nombres,count(*) AS number from productos where marca like '#{@producto.marca}' group by nombres having count(*) <= 6") %>
							<% @ProductoMis.each do |i| %>
							<li style="width:200px;border: solid 1px #808080; text-align:center;font-size:75%;"><%= i.nombres, tienda_vistaDetalle_path(:marca => "#{producto.marca.downcase}", :nombre=>"#{i.nombre.split("MOD").first.split(" ").first.downcase.capitalize}", :modelo=>"#{i.modelo.split(" ").first}") %></li>
							<% end %>	
						</ul>
			  	</li>
			  	</ul>
			  </li>	
			<% end %> 
		<% end %>        
</ul>